footer {
   
    background-color: whitesmoke;
    color: black;
    text-align: center;
}
footer .row{
    background-color:#F6F4F0;
}
footer .row:after {
    content:"";
    display: table;
    clear: both;
}
footer .column {
  float: left;
  width: 100%;
  padding: 0px 0px 20px 20px;
}
footer .column p{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
footer .column hr{
    height: 2px;
    border-width: 1px;
    width:80%;
    background-color:silver;
}
footer hr{
    height: 5px;
    border-width: 5px;
    background-color:black;
    color: silver;
}
footer a{
    text-decoration: none;
    color: black;
}

@media (min-width: 768px){
    footer .column{
        width: 47%;
    }
    footer .column hr{
        width:90%;
    }
}
@media (min-width: 1280px){
    footer .column{
        width: 23%;
    }
    
}