@charset "utf-8";
/* CSS Document */
header {
	font-family: Times New Roman;
	overflow: hidden;
	background-color: black;
	position: relative;
}
header a.icon {
	background: black;
	color: white;
	padding: 14px 16px;
	font-size: 30px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.menu{
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 0px;
}
#close{
	width: 0;
}
#open{
	width: 100%;
}

.menu a{
	background: whitesmoke;
	text-decoration: none;
	color: black;
	display: block;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 8px 8px 8px 32px;
}
.menu .closeBtn {
	color: white;
	position: absolute;
	top: 0;
	float:left;
	font-size: 36px;
	cursor:pointer;
	padding: 8px 8px 8px 32px;
}

.menu-logo-title
{
	padding-left: 40px;
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: transparent;
	width: 80%;
}
.menu-header{
	background-color: black;
}

.menu-dropdown-btn div {
   rotate: z 90deg;
   float: right;
}
.menu-dropdown-container {
	display: none;
	padding-left: 8px;
  }
  
.logo {
	color: white;
	background-color: silver;
	border-radius: 125px;
	padding: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}
.logo img{
	width: 100px;
	height: 100px;
}
.logo-title
{
	width: 50%;
	margin-left: 25%;
}

/* Tablet view*/
@media (min-width: 768px){
	header{
		max-width:1920px;
		display: block;
	}
	.menu-logo-title
	{
		width: 50%;
	}
	.logo {
		color: white;
		padding: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 150px;
		height: 150px;
	}
	.logo img{
		width: 150px;
		height: 150px;
	}
}

/* PC view*/
@media (min-width: 1280px){

	#open{
		width: 80%;
	}

}
